*{
    padding: 0px; margin: 0px;
}

.header{
    background-color: #0e2266; 
    width: 100%;
    height: 60px; 
    max-height: 50px;
    padding: 10px 10px 0px 0px;
    position:top;
    
    border: 0px;
    margin-top: 0px;
    position: sticky;
    top: 0px;
}
.nav{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    list-style: none;
    margin:0px 20px 0px 15px ;

    justify-content: space-between;
    
}

.search{
    margin-top: 17px;
    
}
#search-type{
    backface-visibility: visible;

}



.logo>img{
    /* align-items: start; */
    width: 150px;
    height: 48px;
    /* position: fixed;  */
}
.list{
    display: flex;
    /* align-items: center; */
    flex-wrap: wrap;
    list-style: none;
    font-weight: bolder;
    font-style: normal;
    margin-top: 17px;
    

    
   

}
.avatar{
    display: block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
   
    align-content: flex-end;
    
    

    

}
.list:hover{
    color: cornflowerblue;
    cursor: pointer;
}
.main_content{
    background-image: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    margin-top: 0px;

    /* display: grid; */
    
}   
.div_main{
    display: flex;
    
    justify-content: center;
    align-items:start;
    column-gap: 5%;
    row-gap: 10px;
    margin-top: 20px;
    

    
    flex-wrap: wrap;
    row-gap: 25px;

}
h2{
    text-decoration: solid; 
    text-transform: uppercase;
    padding-top: 10px;
    padding-left: 10px;
    text-align:justify;

}



div button{
    background-color:#9426d9;
    border-radius:30% ;
    width: 80px;
    height: fit-content;
}

.manga_main{
    display: flex;
    
    justify-content: center;
    align-items:start;
    column-gap: 5%;
    row-gap: 10px;
    margin-top: 20px;
    

    
    flex-wrap: wrap;
    row-gap: 25px;
    font-size: 24px;

}
/* figcaption{
    text-decoration: solid;
    font-size: 24px;
    


} */
.footer{
   
    background:#001325 ;
    height: 150px;
    display: flex;
          flex-direction: column;

}
.nav2{
    color: azure;
    margin-left: 25px;
    list-style: none;
    
    
    
    

    
    


}
li{
    margin-bottom: 10px;
    margin-top: 10px;
    text-decoration: double;
    font-weight: 200;

    
}
.li:hover{
    color:cadetblue;
    cursor: pointer;
    text-decoration: underline;

}






